# .git directory is ignored automatically, .github is not.

#Files
*.http
*.md
*.ps1
*.sh
create_database*
/*.db
/*.template
/*.gitignore

#Directories
.azure
.github
blond_maggots/
images/

# Ignore any other files or directories not needed in the container
node_modules/
venv/
*.env