LOGGING_FORMAT='%(levelname) -10s %(asctime)s %(name) -30s %(funcName) -35s %(lineno) -5d: %(message)s'
LOGGING_LEVEL=DEBUG
DB_TYPE=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=
DB_PASSWORD=
