LOGGING_FORMAT='%(levelname)s - %(asctime)s %(name)s - %(funcName)s - %(lineno)d: %(message)s'
LOGGING_LEVEL=DEBUG
DB_TYPE=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=USERNAME_FOR_POSTGRESQL_DB
DB_PASSWORD=KEY_FOR_POSTGRESQL_DB
GOOGLE_API_KEY=KEY_FOR_GEMINI_AI