langcodes~=3.5.0
python-dotenv~=1.0.1
protobuf~=5.29.3
SQLAlchemy~=2.0.37
fastapi~=0.115.8
pydantic~=2.10.6
pydantic-settings~=2.7.1
pandas~=2.2.3
fonetika~=1.4.9
Levenshtein~=0.26.1
uvicorn~=0.34.0
fuzzywuzzy~=0.18.0
psycopg2-binary~=2.9.10
google-generativeai~=0.8.4