--prefer-binary
annotated-types==0.7.0
anyio==4.9.0
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
DAWG-Python==0.7.2
docopt==0.6.2
editdistance==0.8.1
fastapi==0.115.12
fonetika==1.5.1
fuzzywuzzy==0.18.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.167.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
greenlet==3.2.0
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.14.0
httplib2==0.22.0
idna==3.10
langcodes==3.5.0
language_data==1.3.0
Levenshtein==0.27.1
marisa-trie==1.2.1
numpy==1.26.4
pandas==2.2.2
proto-plus==1.26.1
protobuf~=5.29.4
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic~=2.11.7
pydantic-settings==2.8.1
pydantic_core==2.33.2
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.9
pytz==2025.2
RapidFuzz==3.13.0
requests==2.32.3
rsa==4.9.1
setuptools==78.1.0
six==1.17.0
sniffio==1.3.1
SQLAlchemy~=2.0.41
starlette==0.46.2
tqdm==4.67.1
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
uritemplate==4.1.1
urllib3==2.5.0
uvicorn==0.34.1
#OCR dependencies
scipy<1.11.0
paddlepaddle==2.6.2
paddleocr==2.6.1.3
opencv-python-headless==4.9.0.80
clamd~=1.0.2
pillow~=11.2.1
