annotated-types
anyio
black
cachetools
certifi
charset-normalizer
click
DAWG-Python
docopt
editdistance
fastapi
fonetika
fuzzywuzzy
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
grpcio
grpcio-status
h11
httplib2
idna
langcodes
language_data
Levenshtein
marisa-trie
mypy-extensions
numpy
packaging
pandas
pathspec
platformdirs
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
pymorphy2
pymorphy2-dicts-ru
pyparsing
python-dateutil
python-dotenv
pytz
RapidFuzz
requests
rsa
setuptools
six
sniffio
SQLAlchemy
starlette
tqdm
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
