fastapi==0.111.0
Levenshtein==0.25.1
numpy==1.26.4
pandas==2.2.2
pydantic==2.8.2
pydantic-settings==2.3.4
python-dotenv==1.0.1
Scrapy==2.11.2
SQLAlchemy==2.0.31
transliterate==1.10.2
uvicorn==0.30.1
fonetika~=1.4.9