editdistance==0.8.1
fastapi==0.112.0
fonetika==1.4.9
Levenshtein==0.25.1
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
python-dotenv==1.0.1
SQLAlchemy==2.0.32
uvicorn==0.30.5
pandas==2.2.2